section(class="modal-container")
  form(name="newUserForm", novalidate)
    div(class="row")
      label(class="small-6") Name   
      input(class="small-6 radius", type="text", required, ng-model="editedUser.name")
    div(class="row")
      label(class="small-6") Plate
      input(class="small-6 radius", type="text", required, ng-model="editedUser.plate")
    div(class="row")
      label(class="small-6") Type       
        select(class="small-6 radius", required, ng-model="editedUser.type")
          option(value="car") Car
          option(value="bike") Motorcycle
      label(class="small-3") Active       
        input(type="checkbox", value="active", ng-model="editedUser.active")
      label(class="small-3") Visible      
        input(type="checkbox", value="visible", ng-model="editedUser.visible")
    div(class="row")
      button(class="button right", ng-click="saveNew(true)", ng-if="editUsrId") Update
      button(class="button right", ng-click="saveNew()", ng-if="!editUsrId") Save